h1 {
    font-size: 40px;
    color: rgb(216, 9, 9);
  }
  
  h2 {
    font-size: 30px;
    color: rgb(28, 123, 191);
  }
  
  h3 {
    font-size: 20px;
    color: rgb(0, 128, 255);
  }
  
  .lorem-text {
    font-size: 20px;
    color: white;
    background-color: #262626; 
  }
  
  